@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@mainFont: 'Montserrat';
@headFont: 'Lato',sans-serif;
@bdef: solid 1px red;

//======================================
//		header
//======================================
header{
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-around;
	img{
		display: block;
		position: relative;
		max-width: 100%;
		margin: auto 0;
	}
	nav{
		display: block;
		position: relative;
		outline: none;
		.gamb{
			position: relative;
		}
		div:last-child{
			display: block;
			width: 100%;
			height: 100%;
			ul{
				height: 100%;
				display: flex;
				list-style-type: none;
				li{
					display: flex;
					flex-direction: row;
					width: auto;
					margin: auto 0;
					width: auto;
					a{
						text-decoration: none;
						font-family: @mainFont;
						color: #666;
						font-weight: 600;
					}
					span{
						display: inline-block;
						position: relative;
						margin: 0;
						a{
							display: inline-block;
							padding-left: 4px;
							padding-right: 2px;
						}
					}
				}
			}
		}
	}
	.options{
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: space-around;
		height: 100%;
		.search,
		.set,
		.box{
			display: block;
			position: relative;
			margin: auto 0;
			background: url(../img/sprite/sprite.svg);
		}
	}
}
main{
	display: flex;
	flex-direction: column;
	position: relative;
	height: auto;
	&>aside{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		h2,button,span,a{
			display: inline-block;
			position: absolute;
			color: #fff;
			font-family: @headFont;
		}
		h2:first-child{
			z-index: 10;
		}
		h2:nth-child(2){
			font-family: @mainFont;
			letter-spacing: 1px;
			font-weight: 900;
			text-align: center;
			z-index: 10;
		}
		.exp{
			display: block;
			font-family: @mainFont;
			background: transparent;
			border: solid 1px #fa4772;
			z-index: 10;
		}
		&>span{
			display: inline-block;
			height: 1px;
			background-color: #fa4772;
			letter-spacing: 1px;
			z-index: 10;
		}
		.left,
		.right{
			flex-direction: row;
			background: transparent;
			border: none;	
			text-decoration: none;
			font-weight: 900;
			z-index: 10;
		}
		a:hover{
			color: #fa4772;
		}
		.slider{
			display: block;
			position: relative;
			width: inherit;
			height: inherit;
			overflow: hidden;
			img{
				width: inherit;
				max-width: 1920px;
				max-height: 940px;
				height: inherit;
				position: absolute;
			}
			&>span{
				display: inline-block;
				color: #fff;
				letter-spacing: 1px;
				z-index: 10;
			}
		}
	}
	&>article{
		width: 100%;
		height: auto;
		h2{
			display: none;
		}
		.mainProd{
			display: flex;
			justify-content: space-between;
			position: relative;
			margin: 0 auto;
			h3{
				display: none;
			}
			div{
				width: 370px;
				height: 265px;
				background: url('../img/sales/sprite.jpg') no-repeat;
			}
		}
		nav{
			display: block;
			position: relative;
			padding: 0;
			div{
				display: block;
				position: relative;
				width: 100%;
				height: inherit;
				padding: 0;
				margin: 0 auto;
				ul{
					display: flex;
					justify-content: space-between;
					position: relative;
					height: inherit;
					list-style-type: none;
					li{
						font-family: @mainFont;
						font-weight: 600;
						letter-spacing: 1px;
						text-transform: uppercase;
					}
					li:hover{
						cursor: pointer;
						color: #f7657d;
					}
					.active{
						color: #f7657d;
					}
				}
			}
		}
		.prod{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;
			padding: 0;
			h3{
				display: none;
			}
			&>div{
				display: block;
				position: relative;
				background: url('../img/shop/sprite.jpg') no-repeat;
				padding: 0;
				margin: 0;
				span,div, h5{
					display: inline-block;
					position: absolute;
				}
				&>span:first-child{
					font-family: @headFont;
					text-transform: uppercase;
					color: #fff;
					background: #000;
				}
				&>span:first-child:after{
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-color: #000 transparent transparent transparent;
				}
				.buy{
					display: flex;
					flex-direction: row;
					position: relative;
					width: 100%;
					&>span{
						display: inline-flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						font-family: @headFont;
						text-transform: uppercase;
						font-weight: 600;
						color: #fff;
						background: #000;
					}
					.box{
						display: block;
						position: relative;
						background: url('../img/sprite/sprite.svg') #f7657d no-repeat;
					}
					.view{
						display: block;
						position: relative;
						background: url('../img/sprite/sprite.svg') #000 no-repeat;
					}
					.like{
						display: block;
						position: relative;
						background: url('../img/sprite/sprite.svg') #000 no-repeat;
					}
				}
				&>div:last-child{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					position: absolute;
					h5{
						position: relative;
						font-family: @headFont;
						color: #7a7a7a;
						font-weight: 200;
						margin: 0;
					}
					&>div{
						display: flex;
						flex-direction: row;
						align-items: flex-start;
						position: relative;
						margin: 0;
						span{
							display: inline-flex;
							position: relative;
							font-family: @headFont;
							color: #7a7a7a;
							font-weight: 600;
						}
						.firstP{
							text-decoration: line-through;
						}
						.secondP{
							color: #f7657d;
						}
					}
				}
			}
		}
		.fireEvent{
			display: flex;
			flex-direction: column;
			position: relative;
			padding: 0;
			margin: 0 auto;
			background: url('../img/event/event.jpg') no-repeat;
			h3{
				display: inline-flex;
				color: #000000;
				font-family: @headFont;
				font-weight: 800;
				text-transform: uppercase;
			}
			.timer{
				display: block;
				position: relative;
				margin: 0 auto;
			}
			div:nth-child(3){
				display: flex;
				justify-content: space-between;
				position: relative;
				margin: 0 auto;
				span{
					display: inline-flex;
					margin: auto 0;
					color: #333;
					font-family: @headFont;
					font-weight: 400;
					text-transform: uppercase;
				}
			}
			button{
				display: block;
				position: relative;
				padding: 0;
				color: #333;
				font-family: @mainFont;
				text-transform: uppercase;
				background: transparent;
				border: none;
				border-bottom: solid 1px #333;
			}
			button:hover{
				cursor: pointer;
			}
		}	
	}
}